html, body {
  font-family: 'Noto Sans';
  font-size: 1em;
  line-height: 2.2em;
  color: #111;
  font-weight: 400;
}
 
h1 {
  color: #093b75;
  font-size: 1.6em;
}

h2 {
  font-size: 1.6em;
}

h3 > a {
  color: #444;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.date {
  color: #999;
}
ul.post_list {
  list-style-type: none;
  padding: 0;
  li:nth-child(3n) {
    padding-bottom:150px;
  }
}

a {
  text-decoration: none;
  color: #093b75;
  font-weight: 700;
}


section {
  margin-left: 260px;
  padding: 20px 50px;
  width: auto;
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding:0;
    max-height: 600px;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}

.nav_arrows a {
  text-decoration: none;
  font-size: 45px;
}


