<nav>
  <a href="{{ site.baseurl }}/index.html">
    <img src="{{ site.baseurl }}/images/mob_logo.png" alt="Man Over Board">
  </a>
 <!--<p class="tagline">a man, a board, abroad: a blog</p>-->
  <ul>
    <li><a class="button button-1" href="{{ site.baseurl }}/index.html">Home</a></li>
    <li><a class="button button-1" href="{{ site.baseurl }}/about">About</a></li>
    <li><a class="button button-1" href="{{ site.baseurl }}/#">Post Categories</a></li>
  </ul>

    <footer>
  <p>&copy; 2014 <a href="{{ site.baseurl }}/about/">Kevin Bicknell</a></p>
</footer>


  </nav>

