{% include head.html %}
{% include nav.html %}
<section>



<ul class="post_list">
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
      <span class="date">Posted on {{ post.date | date: '%B %d, %Y' }}</span>
      {{ post.content }}
    </li>

    <li>
      <ul class="tags">
        {% for tags in post.tags %}
          <li><a href="{{ site.baseurl }}/tags/#{{ tags }}">{{ tags }}</a></li>
          {% endfor %}
      </ul>
    </li>

  {% endfor %}
</ul>


</section>
